#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.border {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.w-full {
  width: 100%;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.py-0-5rem {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
